@use '../../stylesheets/global.scss' as *;

.planet {
  background-color: $secondary-color;
  padding: 1rem;
  color: $text-color;

  &__image {
    width: 100%;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 1.5rem;
  }

  @media (min-width: 768px) {
    width: 100%;
    padding: 2rem;
  }
}

.details {
  background-color: $secondary-color;
  color: $text-color;
  width: 100%;
  padding: 1rem;

  &__info {
    font-size: 1.1rem;
  }

  &__subheader {
    font-size: 1.25rem;
  }

  &__button {
    display: block;
    width: 100%;
    background-color: $accent-color;
    font-size: 1.15rem;
    padding: 0.7rem;
    color: $text-color;
  }

  @media (min-width: 768px) {
    width: 600px;
  }
}

.stats__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 0.5rem;
}
