@use "../../stylesheets/global.scss" as *;

.film {
  background-color: $secondary-color;
  color: $text-color;
  padding: 1rem;
}

.film__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 2rem;
}

.film__button {
  background-color: $accent-color;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  color: $text-color;
}

@media (min-width: 768px) {
  .film {
    width: 100%;
    padding: 2rem;
  }

  .film__list {
    width: 600px;
  }
}
