@use "../../stylesheets/global.scss" as *;

.form{
    display: block;
    width: 100%;
    margin-bottom: 70px;
}

.form__title{
    text-align: center;
    font-size: 2rem;
}

.form__input{
    display: block;
    width: 100%;
    font-size: 1.2rem;
    height: 45px;
    border: none;
    box-shadow: 7px 7px 0px rgb(0, 0, 0);
}

.form__title span{
    color: $accent-color;
}