// Import font
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

// Define colour variables for light and dark themes
$background-color: light-dark(#eaeaea, #1d1d1d);
$text-color: light-dark(#000, #fff);
$font-family: "Roboto", sans-serif;
$accent-color: light-dark(#fda03c, #fcab39);
$button-color: light-dark(#eae9e9, #222222);

* {
  box-sizing: border-box;
  border-radius: 10px;
}

:root {
  color-scheme: light dark;
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  height: 100%;
  margin: auto 0;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: $font-family;
  height: 100%;
  margin: auto 0;
  padding: 0.5rem;
}
