@use "../../stylesheets/global.scss" as *;

.navbar__button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: $text-color;
}

.navbar {
  padding: 1rem;
}
